<nav class="navbar navbar-dark bg-primary"> 
    <div class="navbar-brand ">
       <a href="/" id="brand-text"> <img src="/img/logo32.png" alt="Tira dúvidas">  <span class="ml-2" > Tira Dúvidas</span></a>
    </div>
</nav>